*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    position: sticky;
    top: 0;
    width: auto;
    height: 70px;
    z-index: 1;
}
#logo{
    margin-left: 50px;
}
#refs{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 50px;
}
.href{
    color: black;
    font-weight:bold;
    text-decoration: none;
}
#section1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin-top: 80px;
}
#right-side-sect-1{
    width: 500px;
}
#title1{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Bebas Neue';
}
#text1{
    margin-top: 20px;
}
.button-yellow{
    background-color: yellow;
    border-radius:2px;
    border: none;
    width: 140px;
    height: 40px;
    font-weight: bolder;
}
#button1{
    margin-top: 20px;
}
#div1-2{
    background-color: lightgray;
    width: 1100px;
    height: 400px;
    position: relative;
    top: 200px;
    left: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box-div1-2{
    width: 350px;
    height: 250px;
    margin-left: 40px;
}
.title-div1-2{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Bebas Neue';
    color: yellow;
}
#text-div1-2{
    margin-top: 20px;
}
#button-div1-2{
    margin-top: 20px;
    border: none;
    background-color: transparent;
    font-weight: bolder;
}
#graphs{
    display: flex;
    justify-content: space-around;
    width: 600px;
}
#section2{
    background-color: yellow;
    width: auto;
    height: auto;
}
#box-sect2{
    padding-top: 300px;
    padding-left: 100px;
    position: relative;
    width: 600px;
}
.title2{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Bebas Neue';
}
#box-text-sect2{
    margin-top: 20px;
    width: 450px;
}
.button-black{
    background-color: black;
    color: white;
    border-radius:2px;
    border: none;
    width: 140px;
    height: 40px;
    font-weight: bolder;
}
#button2{
    margin-top: 20px;
}
#img2{
    width: 600px;
    position: relative;
    left: 480px;
    bottom: 150px;
}
#section3{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-sect3{
    margin: 80px;
    background-color: lightgray;
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
#box-text-sect3{
    width: 360px;
    margin-right: 150px;
    margin-top: 20px;
}
#title3{
    font-size: 60px;
    font-weight: bolder;
    color: yellow;
    font-family: 'Bebas Neue';
}
#text3{
    margin-top: 20px;
}
#button3{
    margin-top: 20px;
}
#graph1-sect3{
    position: relative;
    top: 50px;
    left: 150px;
}
#section4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: auto;
    height: auto;
}
#title4{
    margin-top: 40px;
    color: yellow;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Bebas Neue';
}
#text4{
    margin-top: 20px;
    color: white;
    text-align: center;
    width: 600px;
}
#img4{
    margin-top: 20px;
}
#button4{
    margin-top: 20px;
    margin-bottom: 40px;
}
#section5{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img5{
    height: 500px;
}
#box-sect5{
    margin: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#box-text-sect5{
    margin-left: 40px;
    width: 400px;
}
#title5{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Bebas Neue';
}
#text5{
    margin-top: 20px;
}
#button5{
    margin-top: 40px;
}
#section6{
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}
#img6{
    height: 500px;
    margin-left: 80px;
}
#box-sect6{
    margin: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#box-text-sect6{
    width: 400px;
    margin-left: 100px;
}
.title6{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Bebas Neue';
}
#text6{
    margin-top: 20px;
}
#button6{
    margin-top: 40px;
}
#section7{
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-sect7{
    margin: 60px;
    display: flex;
    justify-content: space-between;
}
#left-side-sect-7{
    background-color: black;
    width: 450px;
    height: 450px;
}
.square{
    background-color: black;
    border-color: white;
}
.row-box-sect7{
    display: flex;
    flex-direction: row;
}
.text-box-sect7{
    color: white;
}
.text-input{
    margin-top: 20px;
    margin-left: 20px;
}
#email-input{
    width: 365px;
}
#password-input{
    width: 365px;
}
#message-input{
    width: 365px;
    height: 100px;
}
#lorem-box-sect7{
    width: 365px;
    margin-top: 20px;
    margin-left: 30px;
}
#right-side-sect-7{
    margin-left: 100px;
    margin-right: 80px;
}
#text-right-side-sect7{
    margin-top: 50px;
    width: 400px;
}
.title7{
    color: yellow;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Bebas Neue';
}
#text7{
    margin-top: 20px;
}
#button7{
    margin-top: 20px;
}
#section8{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    width: auto;
    height: auto;
}
#title8{
    margin-top: 40px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Bebas Neue';
}
#text8{
    margin-top: 20px;
    text-align: center;
    width: 600px;
}
#map{
    margin-top: 20px;
}
#button8{
    margin-top: 20px;
    margin-bottom: 40px;
}
footer{
    background-color: black;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
#logo-white{
    width: 80px;
    object-fit: contain;
    margin-top: 40px;
    margin-left: 50px;
}
#rows-footer{
    margin-top: 60px;
    margin-left: 50px;
}
.row-footer{
    margin-top: 5px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text-footer{
    color: yellow;
    text-align: start;
}
#cookies{
    margin-right: 40px;
}
#FAQS{
    margin-right: 55px;
}
#contact{
    margin-bottom: 50px;
}
.line-footer {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    margin:50px
  }
  #copyright-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #copyright{
    color: yellow;
    margin-left: 50px;
  }
  .design-logos{
    filter: invert(1) sepia(1) saturate(10000%) hue-rotate(0deg);
  }
  #logos{
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-right: 40px;
  }

  @media (max-width:768px){
    #img1{
        width: 400px;
    }
    #right-side-sect1{
        width: auto;
    }
    #title1{
        font-size: 40px;
        text-align: center;
    }
    #text1{
        text-align: center;
    }
    #button1{
        margin-left: 100px;
    }
    #div1-2{
        width: auto;
        left:0px;
    }
    .title-div1-2{
        font-size: 40px; 
    }
    #section2{
        height: 1000px;
    }
    .title2{
        font-size: 40px;
        text-align: center;
    }
    #text2{
        margin-left: 150px;
        text-align: center;
    }
    #button2{
        margin-left: 230px;
    }
    #img2{
        width:500px;
        left: 60px;
        top: 40px;
    }
    #box-sect3{
        margin: 0px;
        width: auto;
    }
    #img3{
        width: 400px;
        object-fit: contain;
    }
    #title3{
        font-size: 40px;
        text-align: center;
        width: auto;
    }
    #text3{
        text-align: center;
    }
    #box-text-sect3{
        width: auto;
        margin-right: 20px;
    }
    #button3{
        margin-left: 110px;
    }
    #graph1-sect3{
        left:70px
    }
    #img4{
        width: 500px;
    }
    #box-sect5{
        margin:0px;
        width: 700px;
    }
    #img5{
        width: 400px;
        object-fit: contain;
    }
    #box-sect6{
        margin: 0px;
        width: 700px;
    }
    .title6{
        text-align: center;
    }
    #text6{
        text-align: center;
    }
    #button6{
        margin-left: 20px;
    }
    #img6{
        width: 400px;
        object-fit: contain;
    }
    #box-sect7{
        margin:0px;
        margin-top: 80px;
    }
    #right-side-sect-7{
        margin-left:20px;
        margin-right: 0px;
    }
    .title7{
        text-align: center;
        font-size: 40px;
    }
    #text7{
        text-align: center;
    }
    #button7{
        margin-left: 80px;
    }
    #text-right-side-sect7{
        width: 300px;
    }
    #map{
        width: 700px;
        object-fit: contain;
    }
  }
  @media (max-width:760px){
    #img6{
        width: 300px;
    }
    #right-side-sect-7{
        margin-left: 0px;
    }
  }
  @media (max-width:735px){
    #section7{
        width: 100%;
    }
    #text-right-side-sect7{
        width: 300px;
    }
    .title7{
        font-size: 30px;
    }
    #text7{
        width: 200px;
        margin-left: 50px;
    }
  }
  @media (max-width:700px){
    #graph01{
        width: 150px;
        object-fit: contain;
    }
    #graph02{
        width: 150px;
        object-fit: contain;
    }
    #left-side-sect-7{
        width: 400px;
    }
    .title7{
        font-size: 25px;
    }
    #box-text-sect6{
        margin-left: 0px;
    }
    .title6{
        font-size: 25px;
    }
    #text6{
        width: 300px;
        margin-left: 50px;
    }
    #button6{
        margin-left: 120px;
    }
    #img6{
        width: 250px;
        margin-left: 0px;
    }
  }
  @media (max-width:680px){
        #title1{
            font-size: 20px;
        }
        #text1{
            font-size: 15px;
        }
        #button1{
            margin-left: 80px;
        }
        .title-div1-2{
            font-size: 20px;
        }
        #text-div1-2{
            font-size: 15px;
        }
        #box-sect2{
            width: auto;
        }
        .title2{
            font-size: 20px;
            width: 200px;
            margin-left: 150px;
        }
        #text2{
            margin-left: 80px;
        }
        #button2{
            margin-left: 180px;
        }
        #img2{
            left: 10px;
        }
        #title3{
            font-size: 20px;
        }
        #text3{
            font-size: 15px;
        }
        #box-text-sect3{
            margin-right: 0px;
            margin-top: 50px;
        }
        #button3{
            margin-left: 70px;
        }
        #graph1-sect3{
            left: 30px;
        }
        #box-text-sect5{
            width: auto;
        }
        #title5{
            font-size: 20px;
            margin-left: 40px;
        }
        #text5{
            font-size: 15px;
            width: 200px;
            text-align: center;
        }
        #button5{
            margin-left: 40px;
        }
        #right-side-sect-7{
            width: 280px;
        }
        #text-right-side-sect7{
            width: auto;
        }
        .title7{
            width: 200px;
            margin-left: 50px;
        }
        #map{
            width: 600px;
        }
  }
  @media (max-width:680px){
    #button1{
        margin-left: 40px;
    }
    #section2{
        height: 900px;
    }
    .title2{
        margin-left: 120px;
    }
    #text2{
        margin-left: 0px;
    }
    #button2{
        margin-left: 150px;
    }
    #img2{
        left: 20px;
        width: 400px;
    }
    #box-sect3{
        flex-direction: column-reverse;
        height: 800px;
    }
    #graph1-sect3{
        width: 200px;
        top: 100px;
        left: 0px;
    }
    #button3{
        margin-top: 0px;
        position: relative;
        bottom: 150px;
        left: 180px;
    }
    #img3{
        width: 250px;
        position: relative;
        left: 190px;
        bottom: 40px;
    }
    #box-text-sect5{
        margin-left: 0px;
    }
    #box-text-sect6{
        width: auto;
    }
    .title6{
        width: 200px;
        font-size: 20px;
        margin-left: 100px;
    }
    #left-side-sect-7{
        width: 350px;
    }
    .square{
        width: 140px;
    }
    #email-input{
        width: 300px;
    }
    #password-input{
        width: 300px;
    }
    #message-input{
        width: 300px;
    }
    #lorem-box-sect7{
        font-size: 15px;
        width: 300px;
    }
    .title7{
        margin-left: 20px;
        font-size: 20px;
    }
    #text7{
        margin-left: 20px;
        font-size: 15px;
    }
    #button7{
        margin-left: 50px;
    }
    #right-side-sect-7{
        width: 300px;
    }
  }
  @media (max-width:580px){
    #img1{
        width: 300px;
        object-fit: contain;
    }
    #button1{
        margin-left: 80px;
    }
    #button3{
        left: 150px;
    }
    #box-sect3{
        height: auto;
    }
    #graph1-sect3{
        top: 150px;
        left: 120px;
    }
    #img3{
        bottom:100px;
        left: 40px;
    }
    #text4{
        font-size: 15px;
        width: 400px;
    }
    #img5{
        width: 300px;
    }
    #button5{
        margin-left: 40px;
    }
    .title6{
        margin-left: 60px;
    }
    #text6{
        margin-left: 10px;
    }
    #button6{
        margin-left: 100px;
    }
    #right-side-sect-7{
        width: 230px;
    }
    #text8{
        font-size: 15px;
        width: 400px;
    }
    #map{
        width: 500px;
    }
  }
  @media (max-width:530px){
    #refs{
        width: 300px;
    }
    .href{
        font-size: 15px;
    }
    #button1{
        margin-left: 40px;
    }
    #box-div1-2{
        margin-left: 0px;
    }
    .title2{
        margin-left: 80px;
    }
    #box-text-sect2{
        width:auto;
    }
    #text2{
        margin-left: 30px;
        font-size: 15px;
        width: 300px;
    }
    #button2{
        margin-left: 120px;
    }
    #img2{
        left: 0px;
    }
    #title3{
        width: 300px;
        margin-left: 120px;
    }
    #button3{
        margin-left: 40px;
    }
    #button5{
        margin-left: 30px;
    }
    #box-sect6{
        flex-direction: column;
    }
    #img6{
        margin-left: 30px;
        height: 400px;
    }
    #text6{
        margin-left: 0px;
    }
    #button6{
        margin-left: 80px;
    }
    #right-side-sect-7{
        width: 230px;
    }
    #left-side-sect-7{
        width: 300px;
        height: auto;
    }
    .square{
        width: 120px;
    }
    #email-input{
        width: 250px;
    }
    #password-input{
        width: 250px;
    }
    #message-input{
        width: 250px;
    }
    #lorem-box-sect7{
        font-size: 15px;
        width: 250px;
        margin-left: 30px;
        text-align: center;
    }
  }
  @media (max-width:470px){
    #logo{
        margin-left: 20px;
    }
    #img1{
        width: 250px;
    }
    #graph01{
        width: 120px;
    }
    #graph02{
        width: 120px;
    }
    #section2{
        height: 800px;
    }
    .title2{
        margin-left: 40px;
    }
    #text2{
        margin-left: 0px;
    }
    #button2{
        margin-left: 70px;
    }
    #img2{
        width: 300px;
    }
    #title3{
        margin-left: 80px;
    }
    #button3{
        margin-left: 10px;
        bottom: 100px;
    }
    #img3{
        width: 200px;
        bottom: 80px;
    }
    #graph1-sect3{
        width: 150px;
        top: 100px;
    }
    #img4{
        width: 400px;
    }
    #box-sect5{
        flex-direction: column-reverse;
    }
    #title5{
        margin-top: 40px;
    }
    #right-side-sect-7{
        width: 210px;
    }
    .title7{
        margin-left: 0px;
    }
    #text7{
        margin-left: 0px;
    }
    #button7{
        margin-left: 35px;
    }
    #left-side-sect-7{
        width: 260px;
        height: auto;
    }
    .text-box-sect7{
        font-size: 10px;
    }
    .square{
        width: 100px;
    }
    #email-input{
        width: 230px;
    }
    #password-input{
        width: 230px;
    }
    #message-input{
        width: 230px;
    }
    #lorem-box-sect7{
        font-size: 12px;
        width: 250px;
        margin-left: 10px;
        text-align: center;
    }
    #map{
        width: 350px;
    }
  }
  @media (max-width:470px){
    #logo{
        width: 50px;
        margin-left: 0px;
    }
    #refs{
        width: 300;
    }
    .href{
        font-size: 10px;
    }
    #button1{
        margin-left: 20px;
    }
    .title7{
        font-size: 12px;
    }
    #text7{
        font-size: 10px;
    }
    #right-side-sect-7{
        width: 210px;
    }
    #left-side-sect-7{
        width: 220px;
        height: auto;
    }
    .text-box-sect7{
        font-size: 10px;
    }
    .square{
        width: 80px;
    }
    #email-input{
        width: 190px;
    }
    #password-input{
        width: 190px;
    }
    #message-input{
        width: 190px;
    }
    #lorem-box-sect7{
        font-size: 10px;
        width: 200px;
        margin-left: 10px;
        text-align: center;
    }
  }